// @import 'font-awesome';

*{
	margin: 0 auto;
	max-width: 1200px;
}
body{
	// background: lighten(#870139, 5%);
	background: darken(#54BAA8, 7%);
}
header{
	max-width: 800px;
	#title-bar{
		display: flex;
		flex-direction: column;
		margin: 15px 0 15px 0;
	}
	h1,h2{
		font-size: 3em;
		margin: 0;
	}
	nav{
		display: flex;
		flex-direction: row; 
		align-content: space-among;
		div{
			margin-bottom: 20px;
		}
		a{
			text-decoration: none;
			background-color: black;
			color: white;
			letter-spacing: 0.75px;
			border: 1px solid black;
			border-radius: 5px;
			padding: 6px;
		}
	}
}
#contact{
	display: flex;
	flex-direction: row-reverse;
	img{
		height: 200px;
	}
}
//Work
#work-title{
	display: flex;
	margin-bottom: 8px;
}
#work-cards{
	// border: 2px solid white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#card{
	// border: 0.5px solid red;
	background-color: darken(white, 15%);
	border-radius: 10px;
	min-width: 43%;
	max-width: 45%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	overflow: hidden;
	#bucketlist-descr, nav{
		margin: 10px;
	}
	nav{
		display: flex;
		flex-direction: column;
		a{
			margin-bottom: 12px;
			text-decoration: none;
			background-color: lighten(black, 17%);
			color: white;
			letter-spacing: 0.75px;
			border: 1px solid black;
			border-radius: 4px;
			padding: 15px;
		}
	}
	figure{
		margin: 0;
		img{
			width: 100%;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		}
	}
}
//Skills/Experience
#skills-xp-block{
	// border-bottom: 3.5px solid lighten(black, 15%);
	padding-bottom: 25px;
	width: 80%;
	display: flex;
	flex-direction: row;
	#skills{
		// border: 0.5px dotted red;
		width: 50%;
		h3{
			color: lighten(black, 0%);
			letter-spacing: 0.35px;
			margin: 5px 5px 5px 35px;
			font-size: 1.5em;
		}
	}
	#xp{
		width: 50%;
		// border: 0.5px dotted red;
		article{
			margin: 15px 0px;
			h3{
				margin: 10px 0px;
			}
		}
		details{
			summary{
				// font-weight: bolder;
			}
			p{
				color: lighten(black, 10%);
				font-size: 0.9em;
				margin: 6px 0px 6px 30px;
			}
		}
	}
	#ed{
	// 	border: 0.5px dotted red;
		width: 45%;
		details{
			margin: 7px 0;
			summary{
				font-weight: bolder;
			}
			p{
				color: lighten(black, 10%);
				font-size: 0.95em;
				margin: 6px 0px 6px 30px;
			}
		}
	}
	#info{
		// border: 0.5px solid white;
		width: 55%;
		#contact{
			// border: 0.5px solid yellow;
			div{
				// width: 50%;
				// border: 0.5px solid orange;
				margin: 0;
				padding: 0;
				figure {
					padding:0;
					margin:0;
					width: 100%;
					img{
						width: 100%;
						height: 50%;
					}
				}
			}
			#panel-r{
				width: 60%;
				margin-left: 10px;
				h1{
					margin-top: 0;
					margin-bottom: 0;
				}
			}
			#panel-l{
				width: 40%;
			}
		}
	}
}

